*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: linear-gradient(145deg, #cadfde, #69a8a5);
  overflow: hidden;
  padding: 20px;
  font-size: 18px;
}
/* -------------FORM */
#form {
  background: linear-gradient(145deg, #53c9c3, #154443);
  box-shadow: 41px 41px 82px #225e5b, -20px -20px 82px #2e7f7b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  border-bottom-right-radius: 20px;
  border: solid rgba(255, 255, 255, 0.555) 1px;
  width: 400px;
  border: 5px solid linear-gradient(145deg, #ffffff, #000000);
  transition: all 0.5s linear;
  border: solid rgba(255, 255, 255, 0.555) 1px;
  box-shadow: 5px 5px 5px #12504d;

}

#form:hover .heading {
  margin-bottom: 20px;
  text-shadow: 0px 0px 2px #12504d;
  border-bottom: solid 2px #12504d;
  color: #12504d;
}

#form:hover .contact-lables {
 text-shadow: 0px 0px 2px #12504d;
 color:#12504d;
}
/* ----------------Heading */
.heading {
  width: 100%;
  text-align: center;
  border-bottom: white solid 2px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s linear
}

/* ----------------------labels */
.contact-lables{
  transition: all 0.5s linear;
  text-shadow: 0px 0px 2px #fdfdfd;
  text-transform: uppercase;
  cursor: pointer;
}
/* --------------------inputs */
.contact-groups {
  padding: 5px;
  margin-bottom: 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.contact-inputs {
  outline: none;
  background-color: #2b7672;
  border-bottom-right-radius: 20px;
  border: solid rgba(255, 255, 255, 0.555) 1px;
  box-shadow: 5px 5px 5px #12504d;
  padding: 5px 10px;
  color: white;
  transition: color 0.6s linear;
}
.contact-inputs::placeholder {
  color: white;
  text-shadow: 0px 0px 2px #fdfdfd;
  font-size: 10px;
}
textArea{
  height: 90px;
}
.contact-inputs:hover {
  background: #12504d;
  color: black;
}
.contact-inputs:focus {
  background: linear-gradient(145deg, #53c9c3, #154443);
  
}
.contact-inputs::placeholder:hover {
  color: black;
}

.button {
  background: linear-gradient(145deg, #53c9c3, #154443);
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 10px 10px;
  color: rgb(112, 106, 106);
  transition: all 0.3s linear;
  border-bottom-right-radius: 20px;
  border: solid rgba(255, 255, 255, 0.555) 1px;
}

.button:hover {
  background: linear-gradient(10deg, #53c9c3, #154443);
  color: white;
  text-shadow: 0px 0px 2px #fdfdfd;
}
